body {
    font-family: -apple-system, BlinkMacSystemFont;
    font-style: oblique;
    text-align: center;
    color: blanchedalmond;
    background-color: #1abc9c;
}

.boxed {
    background-color: black;
    text-align: left;
    width: 40%;
    border: 1px solid rgb(94, 94, 94);
    padding-right: 30px;
    padding-left: 80px;
    border-radius: 10px;
}

div.boxed {
    position: relative;
    left: 20em;
    top: 0em;
}

ul {
    display: inline;
    list-style: none;
}

label.heading {
    color: blanchedalmond;
    font: sans-serif;
    font-size: 12px;
    font-weight: bold;
}

label.instruction {
    font-size: 11px;
    color: red;
    font-weight: bold;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 50px;
    text-align: center;
    text-decoration: navy ;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  h4 {
      color: white;
  }

  input {
    border: 2px turquoise white;
}

.boxed::after {
    height: 50px;
    width: 50px;
    background-color: #1abc9c;
}

  